body{
  margin: auto;
}

.barratop {

    height: 100px;
    background-color: rgb(0, 121, 161);      
    background-image: url(../img/pattern.png)
     
}

#logo { 
  height: 50px
  
}

small{
  color: grey;
}

table, th, td {

  border:1px solid black;
  }

  #incisoblu {
    color: blue;
  }

  ul{
   
  }