body{
  margin: auto;
}

.barratop {
    background-size: contain;
    height: 100px;
    background-color: rgb(0, 121, 161);      
    background-image: url(../img/pattern.png)   
}

#logo { 
    height: 50px      
}

small {
  color: grey;
}

/* table, th, td {
  border:1px solid black;
  text-align: left;
  } */

  th {
    background-color: blue;
  }

  td{
    background-color: lightblue;
  }

  #incisoblu {
    color: blue;
  }

  h4{
    color: grey;
  }
